.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 7rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgba(69, 69, 69, 0.8);
    border-radius: 10%;
}

.dropdown .dropdown-menu a:hover {
    background-color:rgba(255, 255, 255, 0.181);
    border-radius: 10%;
    color: #a5e99e;
}

/* Try it out buttons */
.tryout-btn {
    background-color: rgba(255, 255, 255, 0.181);
    color: #fff;
    padding: 0.6rem;
    font-size: 1.11em;
    font-weight: bold;
    border-radius: 0.6rem;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.tryout-btn:hover {
    background-color: #a6e99ed4;
    transform: scale(1.05);
    color: #000;
}

.tryout-btn {
    margin-left: 10rem;
    margin-top: 2rem;
}