* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
}

#tree-container {
    position: relative;
    margin: 0 auto;
}

.node {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #a5e99e;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}


@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s;
}
