* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
}

#tree-container {
    margin-top: 2rem;
}

.binarytree-area {
    margin-top: 2rem;
}

#value-input {
    padding: 0.4rem;
    font-size: 1.1rem;
    border-radius: 10%;
    font-weight: bold;
    width: 8%;
}

#insert-btn {
    padding: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: initial;
    border-radius: 10%;
    cursor: pointer;
}

#insert-btn:hover {
    background-color: #a5e99e;
}
  
.level-2 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
  
.level-3 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.node {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5e99e;
    padding: 1.8rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s;
}
