.parallax-background {
    background-image: 
        linear-gradient(rgba(29, 32, 38, 0.773), rgba(29, 32, 38, 0.773)),
        url("../img/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


