.flex-container {
    display: flex;
    align-items: start;
    margin-top: 19rem;
}

.flex-list {
    display: flex;
    list-style: none;
    margin-left: -9rem;
}

.flex-item {
    color: #fff;
    padding: 2rem;
    border: 1px solid #fff;
    font-size: 1.2em;
}

.flex-item {
    transition: background-color 1s ease-in-out;
}

/* CSS for input field. */
.input-container {
    float: right;
    margin-right: 5rem;
    margin-top: -2.9rem;
}

.element-label {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

#element {
    margin-left: 0.8rem;
    min-width: 4.5rem;
    height: 1.8rem;
    border: 2px solid #fff;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 1.1em;
    padding: 0.5rem;
}

/* CSS for callstack items */
.call-stack-container::-webkit-scrollbar {
    display: none;
}

.call-stack-container {
    height: 500px; 
    overflow-y: auto;
    margin-left: 2.5rem;
    margin-top: -12rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#call-stack {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    text-align: center;
}

#call-stack .stack-item {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 2rem;
    border: 1px solid #fff;
    transition: background-color 1s ease-in-out;
}

h2 {
    color: #fff;
    margin-bottom: 1rem;
    opacity: 0;
}

#pause-button {
    display: block;
    margin-top: -2.5rem;
    padding: 0.6rem;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0.5rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.21);
}

#pause-button:hover {
    color: #a5e99e;
    cursor: pointer;
}

#help-icon {
    font-size: 2.4em;
    margin-right: 2.5rem;
    margin-top: -2rem;
    cursor: pointer;
    color: #fff;
    float: right;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar h2 {
    color: white;
    padding: 15px;
}
