* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color:#353839;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: 	#DCDCDC;
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color:#DCDCDC;
    font-size: 1.3rem;
}

.nav-links:hover {
    color: white;
}

