* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color:#353839;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: 	#DCDCDC;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #a5e99e;
    text-shadow: 2px 2px 4px #000000;
    background-color: #626566;
    padding: 10px;
    border-radius: 5px;
    

}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color:#DCDCDC;
    font-size: 1.3rem;
}

.nav-links:hover {
    color: white;
}

