<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Binary Tree Visualization</title>
    </head>
    <body>
        <div id="tree-container"></div>
        <form id="tree-form">
            <label for="value-input">Value</label>
            <input type="text" id="value-input">
            <button type="button" id="insert-btn">Insert</button>
        </form>
        <div class="binarytree-area">
            <!-- Her nodes for the bin tree will be drawed -->
        </div>
        <script src="../static/js/binary_tree.js"></script>
    </body>
</html>