<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/node.css">
        <title>Binary Tree Visualization</title>
    </head>
    <body>
        <header>
            <h1 class="logo">
                <a class="logo-link" href="http://127.0.0.1:5500/app/templates/index.html">Algo
                    <span class="green-text">Viz</span>
                </a>
            </h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-items"><button class="method" id="preorder">Preorder</button></li>
                    <li class="nav-items"><button class="method" id="postorder">Postorder</button></li>
                    <li class="nav-items"><button class="method" id="inorder">Inorder</button></li>
                    <li class="nav-items"><button class="method" id="level-order">Level-order</button></li>
                </ul>
            </nav>
        </header>
        <div id="tree-container">
            <span class="level-1">
                <div class="node root" id="node-100">100
                    <div class="line-left-1"></div>
                    <div class="line-right-1"></div>
                </div>
            </span>
            <span class="level-2">
                <div class="node left-child" id="node-50">50
                    <div class="line-left-2"></div>
                    <div class="line-rigth-2"></div>
                </div>
                <div class="node right-child" id="node-120">120
                    <div class="line-left-2"></div>
                    <div class="line-rigth-2"></div>
                </div>
            </span>
            <span class="level-3">
                <div class="node left-child" id="node-45">45
                    <div class="line-left-3"></div>
                    <div class="line-rigth-3"></div>
                </div>
                <div class="node right-child" id="node-63">63
                    <div class="line-left-3"></div>
                    <div class="line-rigth-3"></div>
                </div>
                <div class="node left-child" id="node-110">110
                    <div class="line-left-3"></div>
                    <div class="line-rigth-3"></div>
                </div>
                <div class="node right-child" id="node-135">135
                    <div class="line-left-3"></div>
                    <div class="line-rigth-3"></div>
                </div>
            </span>
            <span class="level-4">
                <div class="node left-child" id="node-35">35</div>
                <div class="node right-child" id="node-47">47</div>
                <div class="node left-child" id="node-60">60</div>
                <div class="node right-child" id="node-77">77</div>
                <div class="node left-child" id="node-102">102</div>
                <div class="node right-child" id="node-117">117</div>
                <div class="node left-child" id="node-125">125</div>
                <div class="node right-child" id="node-150">150</div>
            </span>
            <div class="speed-container">
                <label for="speed" id="speed-label">Animation Speed:</label>
                <input type="range" id="speed" name="speed" min="0" max="2000" value="800" step="100">
            </div>
        </div>
        <script src="../static/js/binary_tree.js"></script>
    </body>
</html>
