<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Algorithm Visualizer</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">Algo<span class="green-text">Viz</span></h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-items"><a class="nav-links" href="#">Algorithms</a></li>
                <li class="nav-items"><a class="nav-links" href="#">Data structures</a></li>
                <li class="nav-items"><a class="nav-links" href="#">Latest</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>