<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Algorithm Visualizer</title>
</head>
<body>
    <header>
        <h1>Algorithm Visualizer</h1>
        <nav>
            <ul>
                <li><a href="#">Algorithms</a></li>
                <li><a href="#">Data structures</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>