<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Algorithm Visualizer</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">Algo<span class="green-text">Viz</span></h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-items"><a class="nav-links" href="#">Algorithms</a></li>
                <li class="nav-items"><a class="nav-links" href="#">Data structures</a></li>
                <li class="nav-items"><a class="nav-links" href="#">Latest</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section id="introduction">
            <h2>Welcome to Algorithm Visualizer!</h2>
            <p>
                Algorithm Visualizer is an interactive online tool designed to bring the 
                beauty of algorithms and data structures to life. Originally developed as 
                a learning aid for the "Algorithms and Data Structures" university course, 
                this tool offers both students and enthusiasts a unique and visually engaging 
                way to understand and appreciate these fundamental aspects of computer science.
            </p>
            <p>
                Here, you will find a selection of sorting, searching, and graph algorithms, 
                each presented with a step-by-step visual demonstration using modern web technologies. 
                By providing real-time visualization of each algorithm in action, 
                Algorithm Visualizer turns abstract concepts into tangible and understandable processes. 
                Enjoy exploring the world of algorithms and data structures!
            </p>
        </section>
        <section id="categories">
            <h2 class="category-title">Our Algorithm Categories</h2>
            <div class="category-container">
                <div class="category-card">
                    <h3>Sorting Algorithms</h3>
                    <p>Explore our selection of sorting algorithms, including bubble sort, insertion sort, and more.</p>
                </div>
                <div class="category-card">
                    <h3>Searching Algorithms</h3>
                    <p>Discover the most efficient ways to search data with our searching algorithms.</p>
                </div>
                <div class="category-card">
                    <h3>Graph Algorithm</h3>
                    <p>Understand complex data structures with our graph algorithms.</p>
                </div>
            </div>
        </section>
        <section id="interactive-example">
            <h2>Interactive Example Coming Soon!</h2>
            <p>
                We are currently developing this section. Here, you'll be able to interact with our algorithms 
                in real time to better understand how they work. Stay tuned!
            </p>
        </section>
        <section id="algorithms">
            <h2>Algorithms</h2>
            <div class="sorting-container">
                <div class="category-image">
                    <img src="../static/img/image.png" alt="Sorting Algorithms Image">
                </div>
                <div class="category-list">
                    <h3>Sorting Algorithms</h3>
                    <ul class="sorting-list">
                        <li>Bubble Sort</li>
                        <li>Quick Sort</li>
                        <li>Merge Sort</li>
                        <li>Heap Sort</li>
                        <li>Insertion Sort</li>
                        <li>Selection Sort</li>
                    </ul>
                </div>
            </div>
            <div class="searching-container">
                <div class="category-list">
                    <h3>Searching Algorithms</h3>
                    <ul class="searching-list">
                        <li>Linear Search</li>
                        <li>Binary Search</li>
                        <li>Recursive Linear Search</li>
                        <li>Recursive Binary Search</li>
                    </ul>
                </div>
                <div class="searching-image">
                    <img src="../static/img/image2.png" alt="Searching Algorithms Image">
                </div>
            </div>
        </section>
        <section id="instructions">
            <!-- Instructions for using the site.-->
        </section>
    </main>
    <footer>
        <!--Information about me goes here.-->
    </footer>
</body>
</html>