<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stian Rusvik">
        <meta name="description" content="Visualization of an unsorted array. Explore different search algorithms: Linear Search, Binary Search and Recursive Search.">
        <link rel="stylesheet" type="text/css" href="../static/css/node.css">
        <link rel="stylesheet" type="text/css" href="../static/css/search-array.css">
        <title>Searching Algorithm Visualization</title>
    </head>
    <body>
        <noscript>To use this site, please activate Javascript in the web browser.</noscript>
        <header class="header-section">
            <h1 class="logo">
                <a class="logo-link" href="http://127.0.0.1:5000">Algo
                    <span class="green-text">Viz</span>
                </a>
            </h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-items"><button class="method" id="linear-search" aria-label="Linear Search">Linear Search</button></li>
                    <li class="nav-items"><button class="method" id="binary-search" aria-label="Binary Search">Binary Search</button></li>
                    <li class="nav-items"><button class="method" id="recursive-search" aria-label="Recursive Search">Recursive Search</button></li>
                </ul>
            </nav>
            <div class="input-container">
                <label for="element" class="element-label">Search For Element:</label>
                <input type="number" id="element" name="element" min="12" max="98">
            </div>
        </header>
        <main class="main-section">
            <div class="flex-container">
                <div class="call-stack-container">
                    <h2>Call Stack</h2>
                    <ul id="call-stack">
                    </ul>
                </div>
                <ul class="flex-list">
                    <li class="flex-item">12</li>
                    <li class="flex-item">15</li>
                    <li class="flex-item">17</li>
                    <li class="flex-item">20</li>
                    <li class="flex-item">32</li>
                    <li class="flex-item">37</li>
                    <li class="flex-item">43</li>
                    <li class="flex-item">65</li>
                    <li class="flex-item">98</li>
                </ul>
            </div>
        </main>
        <footer class="footer-section">
        </footer>
    </body>
    <script src="../static/js/search.js"></script>
</html>