<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stian Rusvik">
        <meta name="description" content="Visualization of sorting algorithms. Explore Bubble, Insertion, Selection, Quick, Merge and Heap-sort.">
        <link rel="stylesheet" type="text/css" href="../static/css/node.css">
        <link rel="stylesheet" type="text/css" href="../static/css/search-array.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <title>Sorting Algorithm Visualization</title>   
    </head>
    <body>
        <noscript>To use this site, please activate Javascript in the web browser.</noscript>
        <header class="header-section">
            <h1 class="logo">
                <a class="logo-link" href="http://127.0.0.1:5000">Algo
                    <span class="green-text">Viz</span>
                </a>
            </h1>
            <nav class="navbar">
                <button id="prev" class="slider-button">&lt;</button>
                <div class="slider-wrapper">
                    <ul class="nav-list">
                        <li class="nav-items"><button class="method" id="bubble-sort" aria-label="Bubble Sort">Bubble Sort</button></li>
                        <li class="nav-items"><button class="method" id="insertion-sort" aria-label="Insertion Sort">Insertion Sort</button></li>
                        <li class="nav-items"><button class="method" id="selection-sort" aria-label="Selection Sort">Selection Sort</button></li>
                        <li class="nav-items"><button class="method" id="quick-sort" aria-label="Quick Sort">Quick Sort</button></li>
                        <li class="nav-items"><button class="method" id="merge-sort" aria-label="Merge Sort">Merge Sort</button></li>
                        <li class="nav-items"><button class="method" id="heap-sort" aria-label="Heap Sort">Heap Sort</button></li>
                    </ul>
                </div>
                <button id="next" class="slider-button">&gt;</button>
            </nav>
        </header>
        <main class="main-section">
            <i class="fa fa-question-circle" id="help-icon" title="Click for more information"></i>
            <div id="info-sidebar" class="sidebar">
                <i class="fa fa-times" id="close-icon" title="Close"></i>
                <h2>Information</h2>
                <div class="algorithm-info">
                    <h3>Linear Search</h3>
                    <p>
                        Linear search is a simple search algorithm that checks every element in the list sequentially 
                        until it finds an element that matches the target value.
                    </p>
                </div>
                <div class="algorithm-info">
                    <h3>Binary Search</h3>
                    <p>
                        Binary search is an efficient algorithm that works on sorted lists. 
                        It divides the list in half, comparing the middle element with the target. 
                        In this visualization, if the middle element matches the target, it turns green. 
                        If not, it turns red, and the search proceeds to the appropriate half of the list.
                    </p>
                </div>
                <div class="algorithm-info">
                    <h3>Recursive Search</h3>
                    <p>
                        Recursive search involves breaking down a problem into smaller instances and using a 'call stack' to keep track of these instances.
                        In this visualization, each element in the call stack represents a recursive call. The top-most element is the current active call. 
                        When the searched element is found, its corresponding stack element is highlighted. 
                    </p>
                </div>
            </div>
        </main>
    </body>
    <script src="../static/js/sort.js"></script>
</html>